@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');

@font-face {
    font-family: "scoreboard";
    src: url("../fonts/scoreboard.ttf") format("truetype");
}

@font-face {
    font-family: "advanced_led_board";
    src: url("../fonts/advanced_led_board.ttf") format("truetype");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Oxanium', sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

body{
    margin: 0;
    background-color: #3b3b3b; 
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.inicio{
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.7), rgba(112, 109, 109, 0.7));
    background-position: center center;
    background-size: cover;    
    height: 12.5rem;
    padding: 0.625rem 1.875rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    animation: backgroundimages;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

header img{
    margin-top: 10%;
    filter: drop-shadow(0 0.125rem 0.312rem rgb(0, 0, 0));
    height: 100%;
}

#logo:hover {
    transition: all 0.5s ease-in-out; /* Animation */
    filter: drop-shadow(0.125rem 0.25rem 0.5rem rgb(255, 175, 26));
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);  
}


h1{
    min-width: 55%;
    align-self: flex-start;
    font-family: "advanced_led_board";
    font-size: 3rem;
    color: rgb(255, 217, 0);
    padding: 1rem;
    text-shadow: -0.0625rem 0.0625rem 0.0625rem black, -0.125rem 0.125rem 0.125rem rgb(195, 76, 52), 0 0 0.625rem rgb(233, 100, 73);
    text-transform: uppercase;
    font-weight: 400; 
}

#logotitle:hover {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    cursor: default;
}

h2{
    font-family: "scoreboard";
    text-align: center;
    margin-top: 1rem;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #000000;
    padding: 0.3125rem;
    font-weight: bold;
    color: rgb(255, 217, 0);
}

h3{
    text-decoration: underline;
    text-decoration-color:rgb(195, 76, 52);
}

a {
    color: rgb(195, 76, 52);
    text-decoration: none;
}

a:visited {
    color: rgb(57, 95, 91);
}

a:hover {
    color: #ffaf1a;
}

a:active {
    color: #ff9c1c;
}

.botonera{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    text-align: center;
    box-shadow: 0px 0.1875rem 0.0625rem rgba(0, 0, 0, 0.443);
    background-color: rgb(45, 45, 45);
    cursor: pointer;
}

.botonera a{
    padding: 0.125rem 0.75rem;
    margin: 0.1875rem 0.3125rem;
    border: 0.125rem solid rgb(195, 76, 52);
    box-shadow: 0.1875rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.443);
    color: rgb(211, 211, 211);
    text-align: center;
    font-family: "scoreboard";
    font-size: 1.3rem;
    background-color: rgb(45, 45, 45);
    cursor: pointer;
}

.botonera a:hover{
    background-color: rgb(255, 217, 0);
    color: black;
    font-weight: bold;
    transition: all 0.5s ease-in-out; /* Animation */
    filter: drop-shadow(0.125rem 0.25rem 0.5rem rgb(255, 175, 26));    
}

.botonera a[href="#"] {
    color: rgb(255, 217, 0);
    border: 0.1875rem solid rgb(91, 163, 155);
    background-color: rgb(45, 45, 45);
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out; /* Animation */
    filter: drop-shadow(0.125rem 0.25rem 0.5rem rgb(91, 163, 155));    
}


.text{
    text-align: justify;
    text-justify: inter-word;
    color: black;
    width: 100%;
    padding: 2.5rem;
    background-position: center center;
    background-size: cover;
    margin-top: 1%;
    margin-bottom: 1%;
    border-top: 0.1875rem solid rgb(195, 76, 52);
    border-bottom: 0.1875rem solid rgb(195, 76, 52);
    min-height: 60vh;
}

.headers{
    text-align: center;
    margin-top: 0;
    padding: 0px;
    margin-bottom: 3.125rem;
}

.text h3, p{
    text-align: center;
}

.text{
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.9), rgba(197, 157, 111, 0.9)),url(../img/design1_image2.jpg);
}

.calendar{
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.9), rgba(197, 157, 111, 0.9)),url(../img/hockey_2.jpg);
}

.aboutus{
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.9), rgba(197, 157, 111, 0.9)),url(../img/hockey_3.jpg);
}

.contact{  
    background-image: linear-gradient(180deg,rgba(255, 255, 255, 0.9), rgba(197, 157, 111, 0.9)),url(../img/hockey_1.jpg);
}

p.pleft{
    text-align: left;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 2.5rem;
}

.fields dt{
    font-weight: bold;
    list-style-type:decimal;
}

.ages{
    list-style-type:lower-latin;
    margin-left: 1rem;
}

ul li{
    margin-left: 1rem;
    list-style-type: circle;
    list-style-position: inside;    
}

li dl{
    margin-bottom: 1rem;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height: 100%;
    width: 100%;
    border-collapse: collapse; 
}

th{
    font-family: "scoreboard";
    font-weight: bold;
    text-align: center;  
    margin: auto;
    font-size: large;
    border: 0;
    border-collapse: collapse;
}

tr, td{
    border: 0.0625rem solid rgb(195, 76, 52);
    font-family: "scoreboard";
    font-weight: bold;
    text-align: center;  
    margin: auto;
    font-size: small;
    border-left: 0.0625rem solid rgb(195, 76, 52);
    border-right: 0.0625rem solid rgb(195, 76, 52);
    border-top: 0.0625rem solid rgb(195, 76, 52);
    border-bottom: 0;
    border-collapse: collapse;
    padding: 0.125rem;
}

tr:hover td:not([rowspan], [colspan]) {
    background-color:rgb(255, 237, 137);
    ;
}

thead{
    background-color: rgba(0, 0, 0, 0.233);
    font-size: large;
}

tfoot{
    background-color: rgba(0, 0, 0, 0.233);
    font-weight: bold;
    text-align: center;
    font-size: medium;
}

caption{
    font-weight: bold;
    margin: 1.1rem;
}

.moreinfo{
    margin: 2rem;
    text-align: center;
}

.moreinfo dt{
    font-weight: bold;
}

.moreinfoextra{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.moreinfoextra dt{
    font-weight: bold;
}

.phonemail {
    display: flex;
    justify-content: space-around;
}

footer{
    margin-top: auto;
    width: 100%;
    padding: 0;
    font-size: 0.9375rem;
    text-align: center;
    box-shadow: 0px -0.1875rem 0.0625rem rgba(0, 0, 0, 0.443);
    background-color: rgb(45, 45, 45); 
}

footer p{
    font-family: 'scoreboard';
    color: rgb(255, 217, 0);
    text-align: center;
}

footer a{
    font-family: 'scoreboard';
    color: rgb(255, 217, 0);
    text-align: center;
}

.italicunderline {
    font-style: italic;
    text-decoration: underline;
}

.text h5 {
    font-style: italic;
    text-decoration: underline;
}

.blinking {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to 
    {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to 
    {
        visibility: hidden;
    }
}

@keyframes backgroundimages {
    0%   {background-image: url(../img/anim/a5.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 100%;}
    25%  {background-image: url(../img/anim/a4.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 100%;}
    50%  {background-image: url(../img/anim/a3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 100%;}
    75%  {background-image: url(../img/anim/a2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 100%;}
    100% {background-image: url(../img/anim/a1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 100%;}
}

div.divspaced{
    margin-bottom: 1.25rem;
}

div.regulations{
    margin-top: 3.125rem;
    margin-bottom: 1.25rem; 
    text-decoration: underline;
    text-decoration-color:rgb(195, 76, 52);
}

div.sportmanship{
    margin-top: 3.125rem;
    margin-bottom: 1.25rem; 
    text-decoration: underline;
    text-decoration-color:rgb(195, 76, 52);
}

div.allplay{
    margin-top: 3.125rem;
    margin-bottom: 1.25rem; 
    text-decoration: underline;
    text-decoration-color:rgb(195, 76, 52);
}

.indented {
    text-indent: 1.875rem;
}

.email_link {
    text-decoration: none;
    display: inline;
    font-weight: bold;
}

iframe.locationmap {
    border-radius: 1%;
    width: 100%;
    margin: 0;
}

.registercont {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    font-family: 'Oxanium', sans-serif;
}

fieldset {
    margin: 0.625rem 0.625rem;
    padding: 0.625rem;
    font-family: 'Oxanium', sans-serif;
}

legend {
    font-size: 1.2rem;
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgb(45, 45, 45);
}

fieldset.bigform {
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0.0625rem solid rgb(195, 76, 52);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content:space-around;
}

fieldset.bigform>div {
    margin: 0.3125rem 0.1875rem;
    border-radius: 0.625rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

fieldset.bigform label {
    display: block;
    color: rgb(195, 76, 52);
    margin: 0.3125rem 1.25rem;
    justify-content:space-around;
    text-align: center;
}

fieldset.smallform {
    max-width: 40%;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0.0625rem solid rgb(195, 76, 52);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: flex-start;
}

fieldset.smallform div, fieldset.smallform label {
    color: rgb(195, 76, 52);
}

.bigform input:hover, .smallform input:hover{
    background: rgba(209, 188, 118, 0.4);
}

button {
    font-family: "Scoreboard";
    color: rgb(214, 214, 214);
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.3125rem 1.25rem;
    margin: 0.625rem;
    width: 12rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0.125rem 0.25rem, rgba(0, 0, 0, 0.3) 0px 0.4375rem 0.8125rem -0.1875rem, rgba(0, 0, 0, 0.2) 0px -0.1875rem 0px inset;
}

button[type=reset] {
    font-family: "Scoreboard";
    background-color: rgb(45, 45, 45);
    width: 9.375rem;
    position: relative;
    overflow: hidden;
    border: 0.125rem solid rgb(195, 76, 52);    
}

button[type=reset]:after {
    font-family: "Scoreboard";
    content: "";
    background: rgb(195, 76, 52);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -1.25rem !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button[type=reset]:active:after {
    font-family: "Scoreboard";
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

button[type=submit] {
    font-family: "Scoreboard";
    background-color: rgb(45, 45, 45);
    border: 0.125rem solid rgb(91, 163, 155);
}

button span {
    font-family: "Scoreboard";
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    color: rgb(255, 217, 0);
    font-family: "Scoreboard";
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.25rem;
    transition: 0.5s;
}

button:hover span {
    font-family: "Scoreboard";
    padding-right: 1.5625rem;
    color: rgb(255, 217, 0);
}

button:hover span:after {
    font-family: "Scoreboard";
    opacity: 1;
    right: 0;
}

input[type=radio] {
    padding: 0.5em;
    appearance: none;
    -webkit-appearance: none;
    outline: 0.1em solid rgb(195, 76, 52);
    outline-offset: 0.1em;
}

input[type=radio]:checked {
    display: inline-block;
    background-color: rgb(195, 76, 52);
    outline: 0.2em solid rgb(57, 95, 91);
    outline-offset: 0.2em;    
}

input[type=checkbox] {
    padding: 0.5em;
    appearance: none;
    -webkit-appearance: none;
    outline: 0.1em solid rgb(195, 76, 52);
    outline-offset: 0.1em;
}

input[type=checkbox]:checked {
    display: inline-block;
    background-color: rgb(195, 76, 52);
    outline: 0.2em solid rgb(57, 95, 91);
    outline-offset: 0.2em;    
}

input[type="text"], textarea {
    background-color : rgba(194, 194, 194, 0.3); 
}

input[type="date"], textarea {
    background-color : rgba(194, 194, 194, 0.3); 
}

input[type="email"], textarea {
    background-color : rgba(194, 194, 194, 0.3); 
}

select {
    background: rgba(194, 194, 194, 0.3);
    color: black;
}

option:not(:checked) {
    background-color: rgba(194, 194, 194, 0.3);
}

button.email{
        font-family: "Scoreboard";
        color: rgb(214, 214, 214);
        transition: all 0.5s;
        cursor: pointer;
        font-size: 1rem;
        padding: 0.3125rem 1.25rem;
        margin: 0.625rem;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0.125rem 0.25rem, rgba(0, 0, 0, 0.3) 0px 0.4375rem 0.8125rem -0.1875rem, rgba(0, 0, 0, 0.2) 0px -0.1875rem 0px inset;
}

@media only screen and (max-width: 1180px) 
{
    * { 
        font-size: 0.85rem; 
    }

    h1{
        font-size: 2rem;
        padding: 1rem;
        font-weight: 100; 
    }

    header img{
        margin-top: 0;
        filter: drop-shadow(0 0.125rem 0.312rem rgb(0, 0, 0));
        height: 75%;
    } 
    
    .text{
        width: 100%;
        padding: 1rem;
        margin-top: 1%;
        margin-bottom: 1%;
        min-height: 60vh;
    }   
    
    th{
        margin: auto;
        font-size: small;
    }

    tr, td{
        font-size: small;
    }

    thead{
        font-size: small;
    }

    tfoot{
        font-size: small;
    }

    button {
        font-size: 1rem;
        padding: 0.3125rem 1.25rem;
        margin: 0.625rem;
        width: 12rem;
    }    

    .botonera a{
        padding: 0;
    }
    
    .botonera a[href="#"] {
        padding: 0;
    }
}